
/*  FONTS */

@font-face {
  font-family: "title";
  src: url(./fonts/title/ShadowsIntoLightTwo-Regular.woff2) format("woff2"),
       url(./fonts/title/ShadowsIntoLightTwo-Regular.woff) format("woff"),
       url(./fonts/title/ShadowsIntoLightTwo-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

   
   
   
   
   /* COLOR PALETE */

/* Primary Color (buttons and sections borders) ==== #DEAA49 */
/* Secondary Color (for header and footer) ==== #3668A5 */
/* Accent for headers (h2 h3 etc) === #D8B97E */
/* For sections (backgrounds) === #5B6F89 */


/*==== UNIVERSAL RULES ====*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: #DEAA49;
    text-decoration: none;
}
/*===== Header Section ====*/


header {
    height: 100px;
    background-color: #3668A5;
    opacity: 0.8;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;

}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header img {
    height: 100px;
    width: 100px;
}



.blog-name,
h1 {
    font-size: 45px;
    color: white;
    font-family: "title", sans-serif;
    letter-spacing: 2px;
}

/* NAVIGATION */

header ul {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 20px;
}

header ul li:not(:last-child)::after {
  content: "|"; 
  margin-left: 0.5rem;
  color: #ffffff;
}

header a:hover {
  color: #ffffff;
}

/* HERO SECTION */

.hero {
    height: 600px;
    background-image: url(./media/images/hero-section.jpg);
    background-position: center;
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1,
.hero-top p {
    color:  #2A2E34;
    
}

h1 {
    font-size: 60px;
}

.hero-text {
    font-size: 25px;
}

.hero button {
    width: 150px;
    height: 40px;
}

.text-highlight {
    color: white;
}

