
    /* COLOR PALETE */

/* Primary Color ==== #DEAA49 */
/* Secondary Color ==== #407AC1 */
/* Accent for headers === #5E594E */
/* For sections backgrounds === #5B6F89 */


/*==== UNIVERSAL RULES ====*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-size: 18px;
}
/*===== Header Section ====*/

header {
    height: 100px;
    background-color: #407AC1;
    opacity: 0.8;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;

}

header img {
    height: 100px;
    width: 100px;
}